{% extends 'med_ease/medease.html' %}
{% load static %} <!--Load static files-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock css %}



{% block body %}

  <main>
    <div>
      <h1 class="font-bold md:text-3xl pt-8 pl-4 md:text-center aboutmedease">Explore More About MedEase</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center flex gap-y-10 justify-center pl-4 md:pl-48 pt-8 text-lg">

      <div>
        
        
        <h1 class="pt-4 text-sky-900 font-bold">Mission</h1>
        <figcaption class="pt-4">
          To reduce early morning queuing at clinics <br>by offering an online platform for securing <br> queue numbers from home.
        </figcaption>
        <img src="{% static 'media/lineup.jpg' %}" alt="" style="width:295px" class="hover:cursor-pointer pt-8 h-56">
      </div>

      <di>
     
        
       
        <h1 class="pt-4 text-sky-900 font-bold">Our Commitment</h1>
        <figcaption class="pt-4">
          We are committed to provide an online <br>platform where patients can reserve queue <br> numbers from the comfort of their homes.
        </figcaption>
        <img src="{% static 'media/team.png' %}" alt="" style="width:295px" class="hover:cursor-pointer pt-8 h-56">
      </di>
      
      <div>

       
        <h1 class="pt-4 text-sky-900 font-bold">What We offer</h1>
        <figcaption class="pt-4">
          MedEase provides user-friendly interface <br> for refugees to register and reserve queue <br>numbers remotely. 
        </figcaption>
        <img src="{% static 'media/offer.png' %}" alt="" style="width:300px" class="hover:cursor-pointer pt-8">
      </div>

      <div>

       
        <h1 class="pt-4 text-sky-900 font-bold">How It Works</h1>
        <figcaption class="pt-4">
          Have an account, reserve your queue number, <br>and receive confirmation from our staffs.
        </figcaption>
        <img src="{% static 'media/work.jpg' %}" alt="" style="width:300px" class="hover:cursor-pointer pt-8">
      </div>

    </div>

    
  </main>


   
{% endblock body %}
