{% extends 'med_ease/medease.html' %}
{% load static %} <!--Load static files-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
{% endblock css %}
 

{% block body %}

  <main>
        <div>
                <h3 class="contactus font-bold md:text-3xl py-3  pl-4 pt-4 text-center">Contact us</h3>
                <p class="pl-4 text-center">Before reservering your queue, if you have any <br>query you can ask for clarification here</p>
        </div>
     
        <div class="main">
                <form action="" method="post" class="contact_form">

                        {%  csrf_token %}
                        {% if message %}
                                <div class="alert alert-success text-2xl pb-4" role="alert" style="color:green">
                                        {{ message }}
                                </div>
                        {% endif %}
                        <p class="text-gray-600">Full name:</p>
                        <p><input type="text" name="fullname" placeholder="Enter Full name"></p> 
                        <p class="text-gray-600">Phone number:</p>
                        <p><input type="number" name="phonenumber"  
                                placeholder="Provide Contact" id="phone-number"></p>
                        <p class="text-gray-600">Email:</p>
                        <p><input type="email" name="email" 
                                placeholder="Email Here" id="email"></p>
                
                        <p class="text-gray-600">Leave message below</p>
                        <p><textarea cols="52" rows="5"
                                placeholder="Message here" id="message" name="message"></textarea></p>
                
                        <button type="submit" name="submit">Submit</button>
                </form>
        </div>

    


    <!--contact me ends here-->
    
  </main>


   
{% endblock body %}
